[Desktop Entry]
Name=Logic Circuit Simulator
GenericName=Logic Circuit Simulator
Comment=A free and open-source cross-platform Logic Circuit Simulator
Categories=Science;
Exec=LogicCircuitSimulator %U
Terminal=false
Type=Application
Icon=/usr/share/LogicCircuitSimulator/icon.png
Actions=New;
Keywords=logic;circuit;diagram;model;logic-circuit
MimeType=x-scheme-handler/lcs;
